@media only screen and (min-width: 768px){
}

body  {
    padding: 0;
    margin: 0;
}

.shopTxt {
    margin: 0;
    padding: 6px;
    text-align: center;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inStore  {
    background-color: #2A2A2A;
    color: #f6f5f3;
}

nav {
    background-color: #f6f5f3;
    display: flex;
    justify-content: center;
    color: #2A2A2A;
    flex-wrap: wrap;
}


span {
    font-size: 22px;   
}

img {
    max-width: 100%;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(39, 23, 2);
    position: relative;
    width: 100%;
}

.photo >* {
    flex: 1 1;
}

.photo1 {
    width: 100%;
    height: 600px;
    object-fit: cover;
} 

.p2 {
    display: block;
    text-align: center;
    flex-grow: 1;
}

.photo2 {
    width: 100%;
    height: 600px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .4;
}

.picTxt {
    position: absolute;
    color: #f6f5f3;
    left: 62%;
    top: 59%;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}


.picTxt2 {
    position: absolute;
    color: white;
    left: 64%;
    top: 75%;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}


.saleImgContainer {
    position: relative;
}

.storeTxt {
    position: absolute;
    right: 50%;
    bottom: 50%;
    text-align: center;
}

.headerTxt {
    font-size: 18px;
    padding: 20px;
    margin: 0 15px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    padding: 15px;
}

a:hover {
    opacity: 0.7;
    margin: 0;
    transition: .3s;
}

.imgBody {
    display: flex;
    flex: 1;
}

.saleImg {
    width: 100%;
    height: 600px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
}

.scheduleContainer {
    text-align: center;
}

.classContainer  {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.scheduleTxt {
    margin-bottom: 60px ;
}

.checkSch1, .checkSch2 {
    display: flex;
    background-color: #2A2A2A;
    color: #ffffff;
    padding: 8px;
    flex-wrap: wrap;
}

.scheduleContainer {
    padding-top: 100px;
    padding-bottom: 120px;
}

.memberContainer {
    background-color: #BDA072;
    text-align: center;
}

.membership {
    padding: 80px 20px;
}

.learnMore {
    padding: 8px;
}

.clkLearn{
    margin-top: 40px;
    color: #ffffff
}

.newsContainer {
    background-color: #2A2A2A;
    text-align: center;
    padding: 100px 20px;
}

.emailContainer {
    display: flex;
    justify-content: center; 
}

#email1 {
    height: 20px;
}

button {
    font-size: 16px;
}


.bottomBanner {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
    
}

.fbig {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; 
}

.fa:hover {
    opacity: 0.7;
}


